# Този файл е добавен просто защото Git не може да добавя празни папки.
# Тъй като тази папка се копира от Resource добавката на Maven,
# а тя по подразбира не копира .gitignore, е избрано това име вместо например .gitkeep